BAIDU_APP_ID = 'baidu_body_analysis_app_id'
BAIDU_API_KEY = 'baidu_body_analysis_api_key'
BAIDU_SECRET_KEY = 'baidu_body_analysis_secret_key'

MQ_IP = 'messge_queue_ip'
MQ_PORT = 61613
MQ_USER = 'admin'
MQ_PASS = 'admin'
MQ_CHANNEL = '/queue/lift_cam_frame'

WEB_CACHE_API_BASE = "http://your_web_site/cache_uri/"

LIFT_READER_IP = '127.0.0.1'
LIFT_READER_REDIS_PORT = 6379